p {
    font-size: 20px !important;
}

#yato-fixed-banner{
    position: fixed; 
    top: 10%; 
    left: 20px; 
    z-index: 999999; 
    background: rgba(0,0,0,0.8); 
    width: 25%; padding: 15px; 
    border-radius: 8px; 
    font-size: 20px; 
    color: #ff007f; 
    text-shadow: 0 0 10px #ff007f; 
    font-weight: bold;
}

#yato-fixed-banner::after {
    content: "";
    display: block;

    width: 100%;
    aspect-ratio: 16 / 9;

    background-image: url("https://i.imgur.com/sVCPC5K.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    margin-top: 20px;
}

/* Весь рабочий блок комнаты */
#talkline {
    height: calc(100vh - 50px);
    width: 800px;
    margin-right: 300px;
}

/* Располагаем чат и форму вертикально */
.talkline_body {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

/* Чат */
#talks {
    order: 1;

    flex: 1;
    min-height: 0;

    display: flex;
    flex-direction: column-reverse;

    overflow-y: auto;
}

#talks .t {
    display: flex;
    flex-direction: column-reverse;
}

/* Форма */
.message_box {
    order: 2;
    flex-shrink: 0;
}
